<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Scraping With Mongoose</title>
    <!-- Compressed CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css" integrity="sha256-itWEYdFWzZPBG78bJOOiQIn06QCgN/F0wMDcC4nOhxY=" crossorigin="anonymous" />
	<link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
	<!-- Custom styles -->
	<link rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body>

	<header class="header">

		<iframe src="https://giphy.com/embed/wSVoqXInHg9W0" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>		<h1 class="headline">DIY Scraper</h1>
		<a href="/scrape" class="button" id="start-scrape">START SCRAPING NOW!</a>
		<ul class="header-subnav">
			<li><a href="/" {{#if homeTabIsActive}}class="is-active"{{/if}}>Home</a></li>
			<li><a href="/saved" {{#if savedTabIsActive}}class="is-active"{{/if}}>Saved</a></li>
		</ul>
	</header>

     {{{body}}}

    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<!-- Compressed fOUNDATION JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js" integrity="sha256-Nd2xznOkrE9HkrAMi4xWy/hXkQraXioBg9iYsBrcFrs=" crossorigin="anonymous"></script>
    <script src="/assets/javascript/app.js"></script>
  </body>
</html>
