<div>
	{{#each Article}}
		<h2>{{this.title}}<h2>
		<img width = '150' height = '150' src="{{this.imgLink}}">
		<!-- <p>{{this.body}}<p>
		<a href="{{this.articleLink}}"> [...] </a> -->

	{{/each}}

</div>