
<div id="notesModal" class="reveal-modal" data-reveal aria-labelledby="noteModal" aria-hidden="true" role="dialog">
	<h3 id="modalTitle">Notes For Article: </h3> 
	<hr />
	<div class = "savedNotes">
		{{#each SavedNotes}}
		<p class = "savedNote" data-id={{this.id}}> {{this.comment}} <div class="x-close"><a href="/deletenote">x</a></div></p>
		{{/each}}
	</div>
	<div class="row">
		<div class="small-12 columns">
			<textarea id = "{{add 'comment' this.id}}" placeholder="New Note"></textarea>
			<button type = "button" data-id = {{this.id}} class="button float-right savenote">SAVE NOTE</a>
		</div>
	</div>

	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>